.action-container {
  margin-top: 20px;
}

.back-next-btns .back-btn {
  margin-right: 20px;
}

.height-weight-wrapper .feet-field {
  margin-right: 20px;
}

.height-weight-wrapper .inches-field {
  margin-right: 20px;
}

.radio-wrapper .radio-group {
  display: block;
  padding-left: 5px;
  padding-top: 10px;
}

.radio-wrapper .radio-group .radio-btn {
  display: inline-block;
}

.radio-wrapper .radio-group .no-radio {
  margin-right: 20px;
}